<!doctype html>
{% load static %}
<html>
<head>
    <title> FML </title>
    <link rel="stylesheet" href="{% static 'background.css' %}">
	<meta name="viewport" content="user-scalable=yes, width=1240" />
    <style>
    div.a {
        text-align: center;
    }
</style>


    </head>
<body>

	

    
    {% block detail %}
    {% endblock detail %}
    {% block outline %}
    {% endblock outline %}
    {% block create %}
    <div class='a'>
    <p>hello {{un}}</p>

    <a href='/blog/login/'>not you? re-login!</a>
    </div>
    {% endblock create %}


    </body>
</html>
